<form action="" (ngSubmit)="onSubmit()">
    <h2>Registrar un nuevo producto</h2>

    <div>
        <label for="">ID del Producto</label>
        <input type="text" name="id" id="" [(ngModel)]="id">
    </div>
    <div>
        <label for="">Nombre del Producto</label>
        <input type="text" name="title" id="" [(ngModel)]="title">
    </div>

    <div>
        <label for="">Precio</label>
        <input type="number" name="price" id="" [(ngModel)]="price">
    </div>

    <div>
        <label for="">Cantidad</label>
        <input type="number" name="quantity" id="" [(ngModel)]="quantity">
    </div>

    <input type="submit" value="Crear">
</form>